body {
   
    background-size: cover;
    font-weight: bold;
    text-align: center;
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}
.zero{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}


h2 {
    font-size:50px ;
    margin-top: 0;
    margin-bottom: 20px;
}


h4 {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lavender;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
}


#increment-btn {
    background: lavender;
   


}
.five{
    color:black;
}




